.product {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-height: 50rem;
  min-width: 10rem;
  background-color: white;
  margin: 1rem;
  width: 100%;
  z-index: 1;
  transition: all 0.15s ease-in-out;
}
.product:hover {
  transform: scale(1.03);
  box-shadow: 0.1rem 0.2rem 0.5rem #111;
}
.product__info {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  padding: 1rem;
}
.product__image__and__button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.product__image__and__button img {
  height: 30rem;
  width: 20rem;
  width: 100%;
  object-fit: contain;
}
.btn {
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 0.5rem;
  font-family: Arial;
  color: #000000;
  font-size: 1.3rem;
  background: #f0c14b;
  padding: 0.6rem 4rem 0.7rem 4rem;
  text-decoration: none;
  border: none;
  margin-bottom: 2rem;
}

.btn:hover {
  background: #e3af03;
  text-decoration: none;
}
